<section>
  <div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="authentication-inner py-4">
        <!-- Forgot Password -->
        <div class="card">
          <div class="card-body">
            <!-- Logo -->
            <div class="app-brand justify-content-center">
              <a href="/" class="app-brand-link gap-2">
                <span class="h3 fw-bolder">CodeStore</span>
              </a>
            </div>
            <!-- /Logo -->
            <h4 class="mb-2 text-center">Change your password?</h4>
            <p class="mb-4 text-center">Please enter the email address of the account</p>
            <form id="forgotform" class="mb-3" action="/change-password" method="post">
              <div class="mb-3">
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your Email" required
                  autofocus />
                {{#if emailErr}}
                <small class="text-danger">{{emailErr}}</small>
                {{/if}}
              </div>
              <input type="submit" class="btn btn-primary d-grid w-100" value="Continue">
            </form>
            <div class="text-center">
              <a href="/signin" class="d-flex align-items-center justify-content-center">
                <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
                Back to Signin
              </a>
            </div>
          </div>
        </div>
        <!-- /Forgot Password -->
      </div>
    </div>
  </div>
</section>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
<script>
  $("#forgotform").validate();
</script>