<section>
  <div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="authentication-inner">
        <!-- Register Card -->
        <div class="card">
          <div class="card-body">
            <!-- Logo -->
            <div class="app-brand justify-content-center">
              <a href="/" class="app-brand-link gap-2">
                <span class="app-brand-text h3 text-body fw-bolder">CodeStore</span>
              </a>
            </div>
            <!-- /Logo -->
            <h4 class="mb-2">Reset Password</h4>

            <form id="userSignup" class="mb-3 text-danger" style="font-size: 13px;" action="/reset-password"
              method="post">
              <div class="mb-3 form-password-toggle">
                <label class="form-label" for="password">New Password</label>
                <div>
                  <input type="password" id="password" class="form-control" name="password"
                    placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
                </div>
              </div>
              <div class="mb-3 form-password-toggle">
                <label class="form-label" for="password">Confirm new password</label>
                <div>
                  <input type="password" id="Confirmpassword" class="form-control" name="c_password"
                    placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
                </div>
              </div>
              <button type="submit" class="btn btn-primary d-grid w-100">Sign up</button>
            </form>

          </div>
        </div>
        <!-- Register Card -->
      </div>
    </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.js"></script>
<script>

  $("#userSignup").validate({
    errorClass: "valierrors",

    rules: {
      password: {
        required: true,
        minlength: 5

      },
      c_password: {
        required: true,
        equalTo: '#password'
      }
    },
    messages: {
      c_password: {
        equalTo: "Passwords are not match"
      }
    }
  })


</script>